<% @all_produce.each do |produce| %>
  <% if produce.commodity == "oranges" #|| produce.seasons != []  %>
    <p><strong>Commodity:</strong> <%=produce.commodity%> <strong>Variety:</strong> <%=produce.variety%> <strong>PLU#:</strong> <%=produce.plu_number%> <strong>NDB#:</strong> <%=produce.ndb_no%></p>
      <ul>
        <li>How to select: <%= produce.how_to_select%></li>
        <li>How to store: <%= produce.how_to_store%></li>
          Seasons:
        <% produce.seasons.each do |season|%>
        <li><%=season.name%></li>
        <%end%>
      </ul>
    <%end%>
  <%end%>




<!-- [(produce.commodity.length) -1] -->
