<% @all_produce.each do |produce| %>
    <p><strong>Commodity:</strong> <%=produce.commodity%><strong>Variety:</strong> <%=produce.variety%>
      <ul>
        <li><strong>PLU#:</strong> <%=produce.plu_number%></li>
        <li><strong>NDB#:</strong> <%=produce.ndb_no%></li>
        <li><strong>How to select:</strong> <%= produce.how_to_select%></li>
        <li><strong>How to store:</strong> <%= produce.how_to_store%></li>
        <li><strong>Seasons:</strong><% produce.seasons.each do |season|%><%=season.name%></li>
        <%end%>
      </ul>
    <%end%>

